<div>
    <button type="button" class="btn nodata2" ng-click="vmThumbButtons.setName('Hardcoded')">
        vmThumbButtons.setName('Hardcoded')
    </button>
    <span class="nodata2">
        - button calling in model to set name to 'Hardcoded'
    </span>
    <br>
    <br>

    <button type="button" class="btn nodata2" ng-click="vmThumbButtonsAmpersand()">
        vmThumbButtonsAmpersand()
    </button>
    <span class="nodata2">
        - button invoking a method within the scope of the directive (doing console log)
    </span>
    <br>
    <br>

    <input type="text" class="form-control" ng-model="vmThumbButtons.name" placeholder="name" required />
    <span class="nodata2">
        - input two-way binded with event model's name attribute
    </span>
    <br>

    <form name="form" ng-submit="vmThumbButtons.setName(newName)" role="form">
        <input type="text" class="form-control" ng-model="newName" placeholder="name" required/>
        <button type="submit" class="btn nodata2">vmThumbButtons.setName(newName)</button>
        <span class="nodata2">
            - button calling in model to set name
    	</span>
    </form>
    <br>

    <!--ng-disabled="form.$invalid || vm.dataLoading"-->
</div>