<div>
    <h3 style="color: red;">This section is testing EventList</h3>
    
    <h4>vm.categoryName = {{vm.categoryName}}</h4>
    <button type="button" class="btn btn-primary" ng-click="vm.testFunction()">
        vm.testFunction()
    </button>
    <div>
        Elemenent [4] from array of events = {{vm.events[4]}}
    </div>
    <button type="button" class="btn btn-primary" ng-click="vm.testOuterFunction(vm.events[4])">
        vm.testOuterFunction(vm.events[4])
    </button>
    <hr/>

    <h3 style="color: red;">This section is testing ng-repeat. First <span style="color: green;">without directive</span> then <span style="color: blue;"> with directive</span></h3>
    
    <ul class="thumbnails">
        <!--<li ng-repeat="event in events | orderBy:sortorder" class="span5">-->
        <li ng-repeat="event in vm.events" class="span5">
            
            <h4 style="color: green;">No directive:</h4>
            <h4>event.name = {{event.name}}</h4>
            <button type="button" class="btn btn-primary" ng-click="vm.testOuterFunction(event)">
                vm.testOuterFunction(event)
            </button>
            <br/>
            
            <h4 style="color: blue;">Directive:</h4>
            <event-thumbnail my-event="event" />
        </li>
    </ul>
</div>