<div class="well">
    <div class="row">
        <div class="span12">
            <h3><span class="nodata2">Name:</span> {{vm.categoryName}}</h3>
            <div>
                <span class="nodata2">Test: data from the first event:</span> {{vm.events[0]}}
            </div>
            <br/>
            <button type="button" class="btn nodata2" ng-click="vm.testOuterSetName(vm.events[0])">
                vm.testOuterSetName(vm.events[0])
            </button>
            <span class="nodata2">
                - button calling func. in list that calls func. in model to set name of event[0] to 'New Name'
            </span>
        </div>
    </div>
    <hr>

    <div ng-repeat="event in vm.events">
        <event-thumbnail my-event="event" vm-thumb-ampersand="vm.callHome()"></event-thumbnail>
    </div>

</div>